In [1]:
from numpy import array
from numpy import mean
from numpy import cov
from numpy.linalg import eig
import numpy as np
class PCA():
    
    def __init__(self, n_components=None, copy=True):
        self.n_components = n_components
        self.copy = copy
        
    def fit(self, X, y=None):
        """Fit the model with X.
        Parameters
        ----------
        X : array-like, shape (n_samples, n_features)
            Training data, where n_samples is the number of samples
            and n_features is the number of features.
        y : None
            Ignored variable.
        Returns
        -------
        self : object
            Returns the instance itself.
        """
        self._fit(X)
        return self
    def fit_transform(self, X, y=None):
        """Fit the model with X and apply the dimensionality reduction on X.
        Parameters
        ----------
        X : array-like, shape (n_samples, n_features)
            Training data, where n_samples is the number of samples
            and n_features is the number of features.
        y : None
            Ignored variable.
        Returns
        -------
        X_new : array-like, shape (n_samples, n_components)
            Transformed values.
        """
        p, values = self._fit(X)
        out = pd.DataFrame(p)
        sort = self.sort_index(values)[0:self.n_components]
        return np.array(out[out.columns[sort]])
    def transform(self, X, y=None):
        return self.fit_transform(X)
    
    def _fit(self, X):
        A = pd.DataFrame(X)
        M = mean(A.T, axis=1)
        C = A - M
        V = cov(C.T)
        
        values, vectors = eig(V)
        self.components_ = vectors.T
        out_vectors = vectors
        P = vectors.T.dot(C.T)
        
        # defining explained variance be eigen vector
        self.explained_variance = sorted(values)[0:self.n_components]
        # defining explained variance ratio by eigen vector
        self.explained_variance_ratio = self.explained_variance/np.sum(self.explained_variance)
        return P.T, values
    def sort_index(self, values):
        sorted_index = []
        del_values = list(values)
        for i in range(len(del_values)):
            ind = 0
            maxi = max(del_values)
            for item in values:
                if abs(maxi-item) < 0.001:
                    sorted_index.append(ind)
                    del_values.remove(maxi)
                    break;
                else:
                    ind+=1
        return sorted_index

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
existing_df = pd.read_csv('trans_us.csv', index_col = 0, thousands  = ',')
existing_df.index.names = ['stations']
existing_df.columns.names = ['months']
existing_df = existing_df.fillna(15)
existing_df.head()

months,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007
stations,,,,,,,,,,,,,,,,,,
Afghanistan,436,429,422,415,407,397,397,387,374,373,346,326,304,308,283,267,251,238
Albania,42,40,41,42,42,43,42,44,43,42,40,34,32,32,29,29,26,22
Algeria,45,44,44,43,43,42,43,44,45,46,48,49,50,51,52,53,55,56
American Samoa,42,14,4,18,17,22,0,25,12,8,8,6,5,6,9,11,9,5
Andorra,39,37,35,33,32,30,28,23,24,22,20,20,21,18,19,18,17,19

In [4]:
# from sklearn.decomposition import PCA
pca = PCA(n_components=2)
pca.fit(existing_df)
new_df = pd.DataFrame(pca.transform(existing_df), columns = ['pca_one', 'pca_two'])

In [5]:
new_df.head()

      pca_one     pca_two
0  732.215864 -203.381494
1 -613.296510   -4.715978
2 -569.303713   36.837051
3 -717.082766   -5.464696
4 -661.802241  -11.037736